<%- include("Header") -%>
<body>
   <form method="post" action="/UrlShortner" class="UrlShortnerForm">
      <label for="fullUrl" class="sr-only">URL Shrinker</label>
        <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="Input Control">Please Enter the url here</input>
        <button class="btn btn-succes" type="submit">Shrink</button>
   </form>
   <table>
      <thread>
         <tr>
            <th>Full Url</th>
            <th>Shortend URL</th>
            <th>Clicks</th>
         </tr>
         <tbody> 
            <% shortUrls.forEach(shortUrl=>{ %>
               <tr>
                     <td><a href="<%= shortUrl.full %>"><%=shortUrl.full%></a></td>
                     <td><a href="<%=shortUrl.short %>"><%=shortUrl.short%></a></td>
                     <td><%=shortUrl.clicks%></td>
               </tr>
            <% }) %>
         </tbody>
      </thread>
   </table>
</body>